{% extends "layout.html" %}
   
{% block title %}
Create Account
{% endblock %}

{% block content %}


<div class="content">
<div class="center">
    <div class="container">
        <div class="row">
            <h2 style="text-align: center; font-family: 'Open Sans', sans-serif;">Delete Account</h2>
        </div>
        <form name="account_delete" action="/account_delete" method="post" novalidate>
            {{form.hidden_tag()}}
            
            <div class="row">
                <div class="col-25" style="font-size: 14px;">
                    {{form.ws_acct_id.label}} 
                    <span style="color: red;"><sup>*</sup></span>
                </div>
                <div class="col-75">
                    {{form.ws_acct_id(placeholder="Account ID",style="width:100%")}}
                    {% for error in form.ws_acct_id.errors %}
                        <span class="error-message">{{error}}</span>
                    {% endfor %}
                </div>
            </div>
            
            <div class="row">
                <div class="col-25" style="font-size: 14px;">
                    {{form.ws_acct_type.label}}
                    <span style="color: red;"><sup>*</sup></span>
                </div>
                <div class="col-75">
                    {{form.ws_acct_type(id_="acct_type",disabled=True)}}
                    {% for error in form.ws_acct_type.errors %}
                        <span class="error-message">{{error}}</span>
                    {% endfor %}
                </div>
            </div>
            <br/>
            <div >
                {{form.submit(value="Confirm Delete", style="background-color: rgb(209, 26, 42);", class="submit-btn")}}
            </div>
        </form>
    </div>
</div>
</div>
    
<script>
$(document).ready(function(){
  
  $("#ws_acct_id").change(function(){
    $.post("/get_acct_type",{
        acct_id:$("#ws_acct_id").val()
    },
    function(data,status){
        console.log(data);
        $("#ws_acct_type").html(data);
        $("#ws_acct_type").val(data);

    });
  });
});
</script>
{% endblock %}