{% extends "layout.html" %}
{% block content%}
<div class="content">
    <div class="center">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 style="text-align: center;">Welcome to FedChoice Bank.</h1>
                    <h1 style="text-align: center;">Name: {{name}}</h1>
                    <h1 style="text-align: center;">Email: {{email}}</h1>
            
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- <div style="height: 45vh;"></div> -->

{% endblock %}



