<footer class="footer-distributed" >
    <div class="footer-left">
        <h2>About Us</h2>
        <p class="footer-company-name">
            FedChoice Bank was founded on 14th June 2016 with the objective of providing with 
            the detail services based on Retail Banking operations. The Retail Internet Banking of
            FedChoice Bank offers a plethora of products and service, to cater the 
            customers by providing certain animus services with an easy volving offers and ways
            to do the required job without hurdling the process.
        </p>
    </div>

    <div class="footer-center">
        <h2>Services</h2>
        <p class="footer-company-about">   
            Retail and Consumer Banking <br>
            Personal Internet Banking <br>
            Corporate Internet Banking <br>
            Debit and Credit Cards 
        
        </p> 

    </div>

    <div class="footer-right">
        <h2>Contact Us</h2>
        <p class="footer-company-about">
            Email : customer.service@fedchoice.com <br>
            Contact No : 022-42406778, 022-54567890 <br>
            Address : Corporate Office, Madame Carna Road, <br>
            Nariman Point, Mumbai, Maharashtra 400021
        </p> 
    </div>
</footer>